<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATIVIDADE 301</title>
</head>
<h1>Olá, a seguir suas atividades.</h1>
<body>
    <P>- Qual foi o site utilizado para criação do seu projeto com Spring Boot?</P>
    <p> usei start spring </p>
    <P>- Quais dependências foram utilizadas no seu projeto? </P>
    <p> Spring Boot DevTools, Spring Web e o Thymeleaf </p>
    <P>- Para que serve a anotação @Controller?</P>
    <p> é o responsável por controlar as requisições indicando quem deve receber as requisições para quem deve responde-las.</p>    
    <P>- Para que serve a anotação @RequestMapping?</P> 
    <p> é usada para mapear URLs como www. DNS_da_aplicação/cliente para toda uma classe ou para um método manipulador particular.</p>  
    <p>- Pesquise sobre as anotações @GetMapping e @PostMapping e explique o funcionamento delas.</p>
    <p>@GetMapping uma notação composta que atua como um atalho para @RequestMapping que é usada em nível de classe e método.</p>
    <p> A anotação é usada para mapear solicitações da web para classes manipuladoras especificas e métodos manipuladores.</p>
</body>
</html>